In [1]:
import csv
import os
import os.path
import pandas as pd

In [2]:
if os.path.isdir('COVID-19'):
  !git -C ./COVID-19 pull
else:
  !git clone https://github.com/CSSEGISandData/COVID-19.git

Already up to date.

In [3]:
db_path = 'COVID-19/csse_covid_19_data/csse_covid_19_time_series'

indexes = [
    'Province/State',
    'Country/Region',
    'Lat',
    'Long',
]

df_confirmed = pd.read_csv(os.path.join(db_path, 'time_series_19-covid-Confirmed.csv'), index_col=indexes)
df_recovered = pd.read_csv(os.path.join(db_path, 'time_series_19-covid-Recovered.csv'), index_col=indexes)
df_deaths = pd.read_csv(os.path.join(db_path, 'time_series_19-covid-Deaths.csv'), index_col=indexes)

In [4]:
df = pd.DataFrame({
    'Total Confirmed': df_confirmed.stack(),
    'Total Deaths': df_deaths.stack(),
    'Total Recovered': df_recovered.stack()
})

df.index.rename('Date', level=4, inplace=True)

df.reset_index()

,Province/State,Country/Region,Lat,Long,Date,Total Confirmed,Total Deaths,Total Recovered
0,NaN,Japan,36.0,138.0,1/22/20,2,0,0
1,NaN,Japan,36.0,138.0,1/23/20,1,0,0
2,NaN,Japan,36.0,138.0,1/24/20,2,0,0
3,NaN,Japan,36.0,138.0,1/25/20,2,0,0
4,NaN,Japan,36.0,138.0,1/26/20,4,0,1
...,...,...,...,...,...,...,...,...
28138,NaN,Zimbabwe,-20.0,30.0,3/16/20,0,0,0
28139,NaN,Zimbabwe,-20.0,30.0,3/17/20,0,0,0
28140,NaN,Zimbabwe,-20.0,30.0,3/18/20,0,0,0
28141,NaN,Zimbabwe,-20.0,30.0,3/19/20,0,0,0
28142,NaN,Zimbabwe,-20.0,30.0,3/20/20,1,0,0

In [5]:
df.to_csv('data.csv')